<ion-view title="Login" id="page2" style="background-color:#E8E8E8;" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="" style="margin-left: -10px; width: calc(100% + 20px);">
            <a style="display:block;" href="tel:">
                <img src="img/60WEM6FWTASFdyx27CV8_descomplica_.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </a>
        </div>
        <div class="spacer" style="width: 300px; height: 43px;"></div>
        <form id="login-form2" class="list ">
            <ion-list id="login-list1" class=" ">
                <label class="item item-input " id="login-input3">
                    <span class="input-label">usuário</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="login-input4">
                    <span class="input-label">senha</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="width: 283px; height: 40px;"></div>
            <a ui-sref="menu" id="login-button10" class=" button button-positive  button-block ">Log in</a>
            <a href="#" onclick="window.open('http://descomplica.com.br/assinatura/?utm_source=ads_googleinst&amp;utm_medium=search&amp;utm_campaign=PSQ_-_Institucional_-_RLSA&amp;utm_term=Descomplica&amp;utm_content=Descomplica_Vestibulares&amp;gclid=COzQvYfs9cwCFYEehgod3_cEtg', '_system', 'location=yes'); return false;"
            id="login-button11" class=" button button-positive  button-block button-clear ">ou se cadastre agora!</a>
        </form>
    </ion-content>
</ion-view>